/* Start Variables */
:root {
    --main-1-color: rgba(255, 165, 0, 0.9);
    --main-2-color: #00cdff;
    --main-shadow-color: #00ccff;
    --main-element-BG: rgba(0, 0, 0, 0.7);
}
/* End Variables */